.water{
    background-image:url(../assets/water.avif);
}
.grass{
    background-image: url(../assets/grass.jpg);
}
.fire{
    background-image: url(../assets/fire.webp);
}
.bug{
    background-image: url(../assets/bug.webp);
    background-size: cover;
    background-position: 40%;
    
}
.poison{
    background-image: url(../assets/poison.jpg);
}
.normal{
    background-color: rgb(209, 212, 212);
}
.ground{
    background-image: url(../assets/ground.webp);
}
.electric{
    background-image: url(../assets/electric.png);
}
.fairy{
    background-image: url(../assets/fairy.jpg);
}
.fighting{
    background-image: url(../assets/fighting.webp);
    background-size:cover;
    background-position:40%;
}
.rock{
    background-image: url(../assets/rock.jpg);
}
.psychic{
    background-image: url(../assets/psychic.jpg);
}
.ghost{
    background-image: url(../assets/ghost.webp);
}
.ice{
    background-image: url(../assets/ice.jpg);
}
.dragon{
    background-image: url(../assets/dragon.jpg);
}