.formulario{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
.barra_busqueda{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    width: 40%;
    height: 50px;
    border-width: 5px;
    border-radius: 100px;
    text-align: center;
    font-size:x-large    
}
.boton_buscar{
    height: 30px;
    width: 35%;
    border-radius: 50px;
    margin-left: 32.5%;
    margin-right: 32.5%;
}
